/* 1510px
1510/16 = 94px
*/
@media (max-width: 103em) {
  .heading-primary {
    font-size: 4.2rem;
  }
  .subheading {
    font-size: 1.6rem;
  }

  .heading-p {
    font-size: 1.4rem;
  }
}

/* 1280px */
@media (max-width: 80em) {
  /* 9px/16 */
  html {
    font-size: 56.2%;
  }
  .heading-p {
    font-size: 1.2rem;
  }
}

/* 1100px */
@media (max-width: 69em) {
  .heading {
    width: 75%;
  }
  .heading-primary {
    font-size: 3.6rem;
  }
  .heading-p {
    font-weight: 500;
    font-size: 1.4rem;
  }
}

/*  900px*/
@media (max-width: 56.5em) {
  html {
    font-size: 50%;
  }
}

/* 800px */
@media (max-width: 50em) {
  .heading {
    width: 91%;
  }

  .step-number {
    font-size: 1.4rem;
  }
  .step-heading {
    font-size: 1.8rem;
  }

  .step-description {
    font-size: 1.6rem;
  }

  .featured-container {
    gap: 3.2rem;
  }

  .plan-container {
    width: 100%;
    gap: 2.2rem;
  }

  .section-plan .container {
    padding: 0 1rem;
  }

  /* Mobile Nav */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .nav-btn {
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0);
  }
}

/* 650px */
@media (max-width: 41em) {
  .heading-primary {
    font-size: 4.2rem;
  }

  .subheading {
    font-size: 2rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .step-text:nth-child(3) {
    grid-row: 4;
  }

  .step-number {
    font-size: 1.6rem;
  }

  .step-heading {
    font-size: 2.4rem;
  }
  .step-description {
    font-size: 1.8rem;
  }

  .step-text {
    justify-self: left;
    padding: 1.2rem 0 4.8rem 0;
  }

  .plan-container {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .plan-heading {
    text-align: center;
  }

  .plan-savings-box:hover {
    transform: translateY(0);
  }

  .flex-end:hover {
    transform: translateY(0);
  }

  .featured-text {
    margin-bottom: 4rem;
  }

  .featured-container {
    flex-direction: column;
    gap: 3.4rem;
  }

  .form-heading {
    font-size: 3.6rem;
  }
  .footer-lists {
    font-size: 1.4rem;
  }

  .icon-book-footer {
    width: 2.4rem;
    height: 2.4rem;
  }
  .brand-name-footer span {
    font-size: 2.4rem;
  }

  .icon-footer {
    width: 1.8rem;
    height: 1.8rem;
  }
}
