/* 
FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


Colors:
Main:#d9480f
Secondary:#555,#777, #444, #333
Tint:#fbede7
Accent: #1864ab
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(236, 164, 135, 0.534);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #e8590c;
  text-decoration-thickness: 3px;
}
.margin--bottom-sm {
  margin-bottom: 1.4rem;
}
.margin--bottom-md {
  margin-bottom: 6.2rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 600;
  color: #333;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/**********************************************/
/********** HEADER **********/
/*********************************************/
.header {
  position: relative;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  padding: 1.6rem;
  width: 100%;
}
.nav span {
  color: #d9480f;
  font-weight: 600;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  gap: 1.6rem;
  list-style: none;
}

.nav-link {
  text-decoration: none;
}

/* adding sticky */
.nav.sticky {
  transition: all 0.5s ease;
  padding: 2rem 1.6rem;
  z-index: 999;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.918);
}

.nav.sticky .nav-btn {
  background-color: rgba(255, 255, 255, 0);
}

.nav-links .nav-cta:link,
.nav-links .nav-cta:visited {
  color: #d9480f;
  font-weight: 600;
}

.nav-btn {
  font-size: 2rem;
  font-weight: 500;
  color: #555;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.nav-cta {
  font-weight: 700;
}

.brand-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.icon-book {
  color: #d9480f;
}
.section-header {
  position: relative;
  background-image: linear-gradient(
      rgba(24, 24, 24, 0.7),
      rgba(24, 24, 24, 0.7)
    ),
    url("../img/library-filled.jpg");
  background-size: cover;
  align-items: center;
  justify-items: center;

  height: 75vh;
  color: #fff;

  margin-bottom: 8.6rem;
}

.subheading {
  font-size: 2rem;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.heading div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-p {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.heading-btn:link,
.heading-btn:visited {
  background-color: #d9480f;
  color: #fff;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;

  display: inline-block;
  border-radius: 8px;

  margin-top: 1.6rem;
  padding: 1.6rem 3.2rem;

  transition: all 0.3s;
}
.heading-btn:hover,
.heading-btn:active {
  background-color: #e8590c;
}

/**********************************************/
/********** Step-by-Step Section **********/
/*********************************************/

.section-step {
  margin-bottom: 8.6rem;
}
.section-step h2 {
  text-align: center;
  letter-spacing: -1px;
}

.step-img {
  width: 100%;
}

.step-text {
  align-self: center;
  justify-self: center;
  width: 75%;
  /* text-align: center; */
}

.step-number {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.step-heading {
  color: #333;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.step-description {
  font-size: 2rem;
  font-weight: 500;
  color: #444;
  line-height: 1.7;
}

/**********************************************/
/********** Plan Section **********/
/*********************************************/

.section-plan .container {
  border-top: 0.5px solid rgb(187, 186, 186);
}

.plan-container {
  display: flex;

  gap: 5.2rem;
}

.plan-heading {
  padding-top: 4.4rem;
  margin-bottom: 8.6rem;
  letter-spacing: -0.5px;
}

.plan-price {
  text-align: center;
  padding: 3.6rem 0 1.8rem 0;
}

.plan-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-img {
  width: 100%;
  margin-bottom: 3rem;
}

.plan-box {
  background-color: #fff;
  padding-bottom: 3rem;
}

.plan-box-saving {
  /* padding-top: 9.4rem; */
}

.flex-end {
  align-self: flex-end;

  border: 1px solid black;
  transition: all 0.4s;
}
.flex-end:hover {
  border: 1px solid white;
  box-shadow: 3rem 3rem 3rem 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-5%);
}

.plan-month {
  color: #444;
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 1.6rem;
}

.plan-dollar {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
}

.plan-charge-month {
  font-size: 1.6rem;
  margin-bottom: 3.6rem;
}

.plan-button:link,
.plan-button:visited {
  display: inline-block;
  background-color: #d9480f;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 2.4rem;

  border-radius: 8px;

  transition: all 0.3s;
}
.plan-button:hover,
.plan-button:active {
  background-color: #e8590c;
}

.plan-savings {
  background-color: #1864ab;
}

.plan-savings-box {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  transition: all 0.4s;
}
.plan-savings-box:hover {
  border: 1px solid white;
  box-shadow: 3rem 3rem 3rem 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-5%);
}

.plan-save-text {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.6rem 0;
  border-collapse: collapse;
}

/**********************************************/
/********** Featured in Section **********/
/*********************************************/

.featured-container {
  display: flex;
  gap: 12.8rem;
  align-items: center;
  justify-content: space-around;
}

.featured-text {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
  margin-bottom: 5rem;
}

.featured-img {
  height: 3.2rem;
}

/**********************************************/
/********** CTA/Form Section **********/
/*********************************************/

.section-form {
  background-color: #d9480f;
  padding-bottom: 4.4rem;
}

.form-heading {
  text-align: center;
  color: #fff;
  font-size: 4.4rem;
  font-weight: 600;
  padding-top: 4.4rem;
  margin-bottom: 3.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #fff;
}

.name-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.name-container label {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
}

.name-container input {
  padding: 1rem 1rem;
  width: 21.7rem;
}

.name-container input::placeholder {
  font-size: 1.6rem;
}

.email-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 3.6rem;
}

.email-container label {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.email-container input {
  padding: 1rem 1rem;
  width: 21.7rem;
}

.email-container input::placeholder {
  font-size: 1.6rem;
}

.btn {
  padding: 1.4rem 5.9rem;
  background-color: #e8590c;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;

  transition: all 0.3s;
}

.btn:hover {
  background-color: #e47f57;
}

/**********************************************/
/********** Footer Section **********/
/*********************************************/

.footer-lists {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
  align-self: flex-start;
}

.footer-logo {
  height: 20rem;
}

.footer {
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.brand-name-footer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 2rem;
}

.brand-name-footer span {
  color: #d9480f;
  font-weight: 500;
  font-size: 3rem;
}

.icon-book-footer {
  color: #d9480f;
  width: 3rem;
  height: 3rem;
}

.icon-footer {
  color: #d9480f;
  width: 1.8rem;
  height: 1.8rem;
}

.social-icons {
  display: flex;
  gap: 3.6rem;
}
